<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Zakázkový systém</title>

    <link rel="stylesheet" href="{$basePath}/css/min.css">
    <link rel="stylesheet" href="{$basePath}/css/output.css">
    <link rel="stylesheet" href="{$basePath}/css/style.css">

    <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>

    <script type="text/javascript" src="{$basePath}/js/our.js"></script>
</head>

<body class="readex">
    <div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-700 text-white">

        <!-- HEADER -->
        <div class="fixed w-full flex items-center justify-between h-14 text-orange-400 font-bold z-10 bg-gray-800">
            <div class="flex item-center justify-start">
                <div class="flex items-center justify-start xl:justify-left pl-3 w-14 xl:w-64 h-14 border-none">
                    <img class="w-8 h-8 xl:w-10 xl:h-10 mr-3 rounded-full overflow-hidden" src="https://img.icons8.com/plasticine/344/gear.png" />
                    <div class="flex flex-col text-orange-300">
                        <span class="hidden text-md xl:block">Zakázkový systém</span>
                        <span class="hidden text-xs xl:block text-blue-300">Lean Shop</span>
                    </div>
                </div>
                <div class="flex items-center justify-left pl-3 h-14 border-none">
                    
                </div>
            </div>
            <div class="flex justify-between items-center h-14 bg-gray-800  header-right">
                <ul class="flex items-center">
                    {if $user->isLoggedIn()}
                        <li>
                            <a n:href="User:profile $user->getId()" class="flex items-center hover:text-blue-100 mr-2"  title="Zobrazit profil">
                                <span class="inline-flex">                        
                                    <img class="w-8 h-8 rounded-full border-4 border-gray-500 bg-gray-500" fill="none" src ="https://img.icons8.com/plasticine/344/contract-job.png" alt="profile"/>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="user-messages.html" class="flex items-center hover:text-blue-100 mr-2"  title="Zobrazit zprávy">
                                <span class="inline-flex">                        
                                    <img class="w-8 h-8 rounded-full border-4 border-gray-500 bg-gray-500" fill="none" src ="https://img.icons8.com/plasticine/344/communication.png" alt="profile"/>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="user-message.html" class="flex items-center hover:text-blue-100"  title="Zaslat dotaz na správce">
                                <span class="inline-flex">                        
                                    <img class="w-8 h-8 rounded-full border-4 border-gray-500 bg-gray-500" fill="none" src ="https://img.icons8.com/plasticine/344/chat-message.png" alt="profile"/>
                                </span>
                            </a>
                        </li>
                    {/if}
                    <li>
                        <div class="block w-px h-6 mx-3 bg-gray-400 dark:bg-gray-700"></div>
                    </li>
                    {if !$user->isLoggedIn()}
                    <li>
                        <a n:href="Auth:SignIn" class="flex items-center mr-4 hover:text-blue-100">
                            <span class="inline-flex mr-2">
                                <img class="w-8 h-8 rounded-full border-4 border-gray-500 bg-gray-500" fill="none" src ="https://img.icons8.com/plasticine/344/anonymous-mask.png" alt="login"/>
                            </span>
                            Přihlášení
                        </a>
                    </li>
                    {else}
                    <li>
                        <a n:href="Auth:SignOut" class="flex items-center mr-4 hover:text-blue-100">
                            <span class="inline-flex mr-2">
                                <img class="w-8 h-8 rounded-full border-4 border-gray-500 bg-gray-500" fill="none" src ="https://img.icons8.com/plasticine/344/anonymous-mask.png" alt="login"/>
                            </span>
                            Odhlásit se
                        </a>
                    </li>
                    {/if}
                </ul>
            </div>
        </div>
        <!-- ./HEADER -->

        <!-- SIDEBAR -->
        <div class="fixed flex flex-col top-14 left-0 w-14 hover:w-64 xl:w-64 bg-gray-900 h-full text-white transition-all duration-300 border-none z-10 sidebar">
            <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">
                <ul class="flex flex-col py-4 space-y-1">
                    <li class="px-5 hidden xl:block">
                        <div class="flex flex-row items-center h-8">
                            <div class="text-sm font-light tracking-wide text-gray-400 uppercase">Hlavní</div>
                        </div>
                    </li>
                    <li>
                        <a n:href="Home:overview" class="relative flex flex-row items-center h-12 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                            <img class="w-10 rounded-full border-gray-600 bg-gray-600 border-4 ml-2" src ="https://img.icons8.com/plasticine/344/home-page.png" alt="login"/>
                            <span class="ml-2 text-sm tracking-wide truncate">Přehledy</span>
                        </a>
                    </li>
                    {if $user->isLoggedIn()}
                    <li>
                        <a href="#" class="relative flex flex-row items-center h-12 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                            <img class="w-10 rounded-full border-gray-600 bg-gray-600 border-4 ml-2" fill="none" src ="https://img.icons8.com/plasticine/344/terms-and-conditions.png" alt="login"/>
                            <span class="ml-2 text-sm tracking-wide truncate">Poptávky</span>
                            <span class="hidden xl:block px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-blue-500 bg-indigo-50 rounded-full">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="relative flex flex-row items-center h-12 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                            <img class="w-10 rounded-full border-gray-600 bg-gray-600 border-4 ml-2" fill="none" src ="https://img.icons8.com/plasticine/344/books.png" alt="login"/>
                            <span class="ml-2 text-sm tracking-wide truncate">Zakázky</span>
                            <span class="hidden xl:block px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-blue-500 bg-indigo-50 rounded-full">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="relative flex flex-row items-center h-12 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                            <img class="w-10 rounded-full border-gray-600 bg-gray-600 border-4 ml-2" fill="none" src ="https://img.icons8.com/plasticine/344/transaction-list.png" alt="login"/>
                            <span class="ml-2 text-sm tracking-wide truncate">Požadavky</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="relative flex flex-row items-center h-12 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                            <img class="w-10 rounded-full border-gray-600 bg-gray-600 border-4 ml-2" fill="none" src ="https://img.icons8.com/plasticine/344/timeline-week.png" alt="login"/>
                            <span class="ml-2 text-sm tracking-wide truncate">Denní plány</span>
                        </a>
                    </li>
                    <li class="px-5 hidden xl:block">
                        <div class="flex flex-row items-center mt-2 h-8">
                            <div class="text-sm font-light tracking-wide text-gray-400 uppercase">Nastavení</div>
                        </div>
                    </li>
                    <li>
                        <a n:href="User:profile $user->getId()" class="relative flex flex-row items-center h-12 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                            <img class="w-10 rounded-full border-gray-600 bg-gray-600 border-4 ml-2" src="https://img.icons8.com/plasticine/344/contract-job.png"/>
                            <span class="ml-2 text-sm tracking-wide truncate">Můj profil</span>
                        </a>
                    </li>
                    <li>
                        <a n:href="User:all" class="relative flex flex-row items-center h-12 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                            <img class="w-10 rounded-full border-gray-600 bg-gray-600 border-4 ml-2" fill="none" src ="https://img.icons8.com/plasticine/344/apple-contacts.png" alt="All Users"/>
                            <span class="ml-2 text-sm tracking-wide truncate">Uživatelé</span>
                            <span class="hidden xl:block px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-red-500 bg-red-50 rounded-full">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="relative flex flex-row items-center h-12 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                            <img class="w-10 rounded-full border-gray-600 bg-gray-600 border-4 ml-2" fill="none" src ="https://img.icons8.com/plasticine/344/settings.png" alt="login"/>
                            <span class="ml-2 text-sm tracking-wide truncate">Nastavení</span>
                        </a>
                    </li>
                    {/if}
                </ul>
            <p class="mb-14 px-5 py-3 hidden xl:block text-center text-xs">Copyright @2022</p>
            </div>
        </div>
        <!-- ./SIDEBAR -->

        <!-- CONTENT -->
        <div class="h-full ml-14 mt-14 mb-10 xl:ml-64">

        <!-- FLASH MESSAGE -->
        {if $flashes}
            <div id="flash-modal" class="w-full px-4 pt-4">
                <div class="bg-red-300 rounded-md p-4 shadow-md">
                    <div class="text-gray-800">
                        {foreach $flashes as $flash}
                            {$flash->message}
                        {/foreach}
                    </div>
                    <div class="flex item-center justify-end">
                        <button type="button" id="close-modal" class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out">Close</button>
                    </div>
                </div>
            </div>
		{/if}
        <!-- FLASH MESSAGE -->
    
        {include content}

        </div>
        <!-- ./CONTENT -->

    </div>

    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const passTitle = document.querySelector('#pass-title')
            const passForm = document.querySelector('#pass-form')
            const passChange = document.querySelector('#pass-change')
            const passHidden = document.querySelector('#pass-hidden')

            const origPass = document.querySelector('#frm-userEditForm-origpass')
            const newPass = document.querySelector('#frm-userEditForm-newpass')
            const checkPass = document.querySelector('#frm-userEditForm-checkpass')

            passChange.addEventListener('click',() => {
                passTitle.classList.remove('hidden')
                passForm.classList.remove('hidden')
                passHidden.classList.remove('hidden')
                passChange.classList.add('hidden')
            })

            passHidden.addEventListener('click',() => {
                passTitle.classList.add('hidden')
                passForm.classList.add('hidden')
                passHidden.classList.add('hidden')
                passChange.classList.remove('hidden')

                origPass.value = ''
                newPass.value = ''
                checkPass.value = ''
            })

            const flashModal = document.querySelector('#flash-modal')
            const closeModal = document.querySelector('#close-modal')

            closeModal.addEventListener('click',() => {
                flashModal.classList.add('hidden')
            })
        })
    </script>
</body>