<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{$basePath}/css/output.css">
    <link rel="stylesheet" href="{$basePath}/css/style.css">
</head>

<body>
    <div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-700 text-white">

        <!-- HEADER -->
        <div class="readex fixed w-full flex items-center justify-between h-14 text-orange-400 font-bold z-10 bg-gray-800">
            <div class="flex item-center justify-start">
                <div class="flex items-center justify-start md:justify-left pl-3 w-14 md:w-64 h-14 border-none">
                    <img class="w-7 h-7 md:w-10 md:h-10 mr-3 rounded-full overflow-hidden" src="https://therminic2018.eu/wp-content/uploads/2018/07/dummy-avatar.jpg" />
                    <div class="flex flex-col text-gray-300">
                        <span class="text-md hidden md:block">CONTI ORDERS</span>
                        <span class="text-sm hidden md:block">Zakázkový systém</span>
                    </div>
                    
                </div>
                <div class="flex items-center justify-left pl-3 h-14 border-none">
                    
                </div>
            </div>
            <div class="flex justify-between items-center h-14 bg-gray-800  header-right">
                <ul class="flex items-center">
                    <li>
                        <div class="block w-px h-6 mx-3 bg-gray-400 dark:bg-gray-700"></div>
                    </li>
                    {if !$user->isLoggedIn()}
                    <li>
                        <a n:href="Home:SignIn" class="flex items-center mr-4 hover:text-blue-100">
                            <span class="inline-flex mr-2">
                                <img class="w-5 h-5" fill="none" src ="{$basePath}/img/icons/login.png"/>
                            </span>
                            Přihlášení
                        </a>
                    </li>
                    {else}
                    <li>
                        <a n:href="Home:SignOut" class="flex items-center mr-4 hover:text-blue-100">
                            <span class="inline-flex mr-2">
                                <img class="w-5 h-5" fill="none" src ="{$basePath}/img/icons/login.png"/>
                            </span>
                            Odhlásit se
                        </a>
                    </li>
                    {/if}
                </ul>
            </div>
        </div>
        <!-- ./HEADER -->

        <!-- SIDEBAR -->
        <div class="readex fixed flex flex-col top-14 left-0 w-14 hover:w-64 md:w-64 bg-gray-900 h-full text-white transition-all duration-300 border-none z-10 sidebar">
            <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">
                <ul class="flex flex-col py-4 space-y-1">
                    <li class="px-5 hidden md:block">
                        <div class="flex flex-row items-center h-8">
                            <div class="text-sm font-light tracking-wide text-gray-400 uppercase">Hlavní</div>
                        </div>
                    </li>
                    {if !$user->isLoggedIn()}
                    <li>
                        <a n:href="Home:orders" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                            <img class="inline-flex justify-center items-center ml-4 w-5 h-5" src ="{$basePath}/img/icons/dashboard.png"/>
                            <span class="ml-2 text-sm tracking-wide truncate">Přehledy</span>
                        </a>
                    </li>
                    {else}
                    <li>
                        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                            <img class="inline-flex justify-center items-center ml-4 w-5 h-5" fill="none" src ="{$basePath}/img/icons/inquirys.png"/>
                            <span class="ml-2 text-sm tracking-wide truncate">Poptávky</span>
                            <span class="hidden md:block px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-blue-500 bg-indigo-50 rounded-full">0</span>
                        </a>
                    </li>
                    <li>
                            <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                            <img class="inline-flex justify-center items-center ml-4 w-5 h-5" fill="none" src ="{$basePath}/img/icons/orders.png"/>
                            <span class="ml-2 text-sm tracking-wide truncate">Zakázky</span>
                            <span class="hidden md:block px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-blue-500 bg-indigo-50 rounded-full">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                            <img class="inline-flex justify-center items-center ml-4 w-5 h-5" fill="none" src ="{$basePath}/img/icons/orders.png"/>
                            <span class="ml-2 text-sm tracking-wide truncate">Požadavky</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                            <img class="inline-flex justify-center items-center ml-4 w-5 h-5" fill="none" src ="{$basePath}/img/icons/orders.png"/>
                            <span class="ml-2 text-sm tracking-wide truncate">Denní plány</span>
                        </a>
                    </li>
                    <li class="px-5 hidden md:block">
                        <div class="flex flex-row items-center mt-2 h-8">
                            <div class="text-sm font-light tracking-wide text-gray-400 uppercase">Nastavení</div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                            <img class="inline-flex justify-center items-center ml-4 w-5 h-5" src="{$basePath}/img/icons/anonymous.png"/>
                            <span class="ml-2 text-sm tracking-wide truncate">Můj profil</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                            <img class="nline-flex justify-center items-center ml-4 w-5 h-5 fill="none" src ="{$basePath}/img/icons/users.png"/>
                            <span class="ml-2 text-sm tracking-wide truncate">Uživatelé</span>
                            <span class="hidden md:block px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-red-500 bg-red-50 rounded-full">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                            <img class="inline-flex justify-center items-center ml-4 w-5 h-5" fill="none" src ="{$basePath}/img/icons/settings.png"/>
                            <span class="ml-2 text-sm tracking-wide truncate">Nastavení</span>
                        </a>
                    </li>
                    {/if}
                </ul>
            <p class="mb-14 px-5 py-3 hidden md:block text-center text-xs">Copyright @2022</p>
            </div>
        </div>
        <!-- ./SIDEBAR -->

        <!-- CONTENT -->
        <div class="h-full ml-14 mt-14 mb-10 md:ml-64">
    
        {include content}

        </div>
        <!-- ./CONTENT -->

    </div>
</body>