<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
   
	<link rel="stylesheet" href="{$basePath}/css/min.css">
	<link rel="stylesheet" href="{$basePath}/css/muj.css">
	<link rel="stylesheet" href="{$basePath}/css/tmc.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Underdog&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="h-screen overflow-hidden flex items-center justify-center" style="background: #edf2f7;">
    <!-- This is an example component -->
<div class="max-w-2xl mx-auto">
	<div class="bg-gray-800 shadow-md border border-gray-200 rounded-lg max-w-sm p-4 sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
		<form class="space-y-6" action="#">
			<h3 class="text-xl font-medium text-yellow-300 text-center dark:text-white w-60">CONTI ORDERS</h3>
			<div>
				<label for="uid" class="text-sm font-medium text-yellow-500 block mb-2 dark:text-gray-300">Uřivatelské ID</label>
				<input type="text" name="uid" id="uid" class="font-medium bg-gray-500 border border-gray-600 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white uppercase" placeholder="Zadejte uživatelské ID" value="{getenv('USERNAME')}" required="">
            </div>
				<div>
					<label for="password" class="text-sm font-medium text-yellow-500 block mb-2 dark:text-gray-300">Vaše heslo</label>
					<input type="password" name="password" id="password" placeholder="VLOŽTE HESLO" class="font-medium bg-gray-500 border border-gray-500 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required="">
                </div>
					<div class="flex items-start">
						<div class="flex items-start">
							<div class="flex items-center h-5">
								<input id="remember" aria-describedby="remember" type="checkbox" class="bg-gray-50 border border-gray-300 focus:ring-3 focus:ring-blue-300 h-4 w-4 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800">
                            </div>
								<div class="text-sm ml-3">
									<label for="remember" class="font-medium text-gray-300 dark:text-gray-300">Pamatuj si to</label>
								</div>
							</div>
							<a href="#" class="text-sm text-blue-300 hover:underline ml-auto dark:text-blue-500">Zapomenuté heslo?</a>
						</div>
						<button type="submit" class="w-full text-white bg-yellow-600 hover:bg-yellow-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Přihlásit se</button>
						<div class="text-sm font-medium text-gray-300 dark:text-gray-100">
							Nejste registrován? <a href="#" class="text-blue-300 hover:underline dark:text-blue-500">Vytvořit účet</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>